@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 19% 16%;
    --card: 0 0% 100%;
    --card-foreground: 240 19% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 2, 69%, 38%;
    --primary-foreground: 300 0% 100%;
    --secondary: 240 19% 16%;
    --secondary-foreground: 300 0% 100%;
    --tertiary: 27 82% 98%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 237 13% 40%;
    --accent: 237 9% 96%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 8 82% 92%;
    --input: 8 82% 92%;
    --ring: 9 99% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 237 22% 20%;
    --foreground: 60 9.1% 97.8%;
    --card: 240 19% 16%;
    --card-foreground: 300 0% 100%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 8 99% 67%;
    --primary-foreground: 300 0% 100%;
    --secondary: 240 19% 16%;
    --secondary-foreground: 300 0% 100%;
    --tertiary: 237 22% 20%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 237 15% 63%;
    --accent: 240 19% 16%;
    --accent-foreground: 300 0% 100%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 237 22% 23%;
    --input: 237 22% 23%;
    --ring: 8 99% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }

  #header {
    animation: header-animation linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 50px;
    --bg-animation-header: white;
  }

  @keyframes header-animation {
    0% {
      padding: 1.5rem 0;
      box-shadow: none;
    }

    100% {
      background-color: var(--bg-animation-header);
      padding: 1rem 0;
      box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    }
  }

  @media (prefers-color-scheme: dark) {
    #header {
      --bg-animation-header: hsl(var(--accent));
    }
  }

  #progress {
    @apply bg-primary fixed inset-y-0 right-0 z-50 w-1;

    animation: progress-animation auto linear;
    animation-duration: 0.7;
    animation-timeline: scroll(root block);
  }

  @keyframes progress-animation {
    0% {
      height: 0;
    }

    100% {
      height: 100%;
    }
  }

  h1 {
    @apply text-6xl xl:text-7xl xl:leading-20 -tracking-20 font-bold text-balance;
  }

  p {
    @apply text-muted-foreground text-lg mb-8 font-light;
  }
}
